pkgbase = omadev
	pkgdesc = A developer experience CLI designed for Omarchy
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/c3nk/omadev
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go>=1.24
	provides = omadev
	conflicts = omadev-bin
	source = omadev-0.1.0.tar.gz::https://github.com/c3nk/omadev/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = 3728296df01d434d32e78ebc024a163492a7a2f04eacfa13c12a837d4c020b4d

pkgname = omadev
